@font-face { font-family: 'UTM-Aptima'; src: url('../font/UTM-Aptima/UTM-Aptima.eot'); src: url('../font/UTM-Aptima/UTM-Aptima.eot?#iefix') format('embedded-opentype'), url('../font/UTM-Aptima/UTM-Aptima.woff') format('woff'), url('../font/UTM-Aptima/UTM-Aptima.ttf') format('truetype'), url('../font/UTM-Aptima/UTM-Aptima.svg#UTM-alter') format('svg'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'UTM-Brushtip'; src: url('../font/UTM-Brushtip/UTM-Brushtip.eot'); src: url('../font/UTM-Brushtip/UTM-Brushtip.eot?#iefix') format('embedded-opentype'), url('../font/UTM-Brushtip/UTM-Brushtip.woff') format('woff'), url('../font/UTM-Brushtip/UTM-Brushtip.ttf') format('truetype'), url('../font/UTM-Brushtip/UTM-Brushtip.svg#UTM-alter') format('svg'); font-weight: normal; font-style: normal;}

html, body, div, span, h1, h2, h3, h4, h5, h6, p,a, em, img, strong, ol, ul, li { margin:0px; padding:0px; border:0px; outline:0px; vertical-align:baseline; background:transparent; text-decoration:none; font-size:18px; font-family: "arial";}
body { padding:0 0; position: relative; background: white;}

.padi0 { padding:0;}
.padi05 { padding:0 5px;}
.padi010 { padding:0 10px;}
.padi015 { padding:0 15px;}
.padi6060 { padding: 60px 0; }
.padi-top30 { padding-top: 30px; }
.padi-bot30 { padding-bottom: 30px; }
.padi-bot60 { padding-bottom: 60px; }
.magi10 { margin-top: 10px; }
.magi20 { margin-top: 20px; }
.magi30 { margin-top: 30px; }

.magi10-0 { margin-top: 10px; }

@media screen and (max-width: 991px){
    .padi-bot60 { padding-bottom: 30px; }
    .magi10-0 { margin-top: 0; }
}

.TeCenter { text-align: center !important; }
.TeRight { text-align: right !important; }



/*End_Title*/
/*Index*/
.wi100 { width: 100%; float: left;}
.index_01 { width: 100%; float: left; background: url(../images/bg_1.jpg) repeat;}
/*End_Index*/


.fl { float: left;}
.fr { float: right;}

a:hover {text-decoration: none !important;}

.container-full {max-width: 100%; width: 100%; padding-right:80px; padding-left:80px; margin-right:auto; margin-left:auto;}
.container-footer {max-width: 1360px; width: 100%; padding-right:40px; padding-left:40px; margin-right:auto; margin-left:auto;}

nav.header {   width: 100%; height: 62px; background-color: rgba(255, 255, 255, 1); border-bottom: 2px solid #fec41b;
    display: -ms-grid;
    display: grid; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; position: fixed; z-index: 10; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
    float: left;
}
nav.navShadow { height: 60px; border: none; background-color: rgba(255, 255, 255, .9); -webkit-box-shadow: 3px 6px 10px #333; box-shadow: 3px 6px 10px #333; }

@media screen and (max-width: 991px){
    .container-full {max-width: 100%; width: 100%; padding-right:20px; padding-left:20px; margin-right:auto; margin-left:auto;}
    .container-footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .container-footer .row {
        margin-left: -15px;
    }
}


.logo { height: 40px; position: absolute; left: 50%; margin-left: -120px; top: 10px;}
.logo img { height: 100%; float: left;}

.call-phone {position: absolute; top: 0; left: 30px; }
/*------------------------------------*/
.language { width: 60px; height: 30px; position: absolute; top: 15px; right: 72px;}
.language ul { list-style: none; }
.language ul li { width: 30px; height: 30px; float: left; background: white; border:2px solid #2e7444; }
.language ul li.vn { border-right: none; }
.language ul li.en { border-left: none; }
.language ul li a { color: #2e7444; display: block; text-align: center; line-height: 30px; }
.language ul li.active { background: #2e7444; }
.language ul li.active a { color: white; }
/*------------------------------------*/
.mNav { cursor: pointer; position: absolute; right: 10px; top: 15px; width: 36px; height: 30px; line-height: 30px; color: #2e7444; font-size: 40px; font-weight: bold;}
.overlay { height: 100%; width: 0; position: fixed; z-index: 100; top: 0; right: 0; background-color: rgba(0,0,0, 0.9); overflow-x: hidden; -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s;}
.logo-menu { width: 100%; height: 100%; float: left; background: url(../images/bg-menu.png) no-repeat center #006838; background-size: 80% auto;}
.overlay-content { position: relative; top: 50%; margin-top: -310px;  width: 100%; text-align: center;}
.overlay a { padding: 6px; text-decoration: none; font-size: 40px; color: white; display: block; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; font-family: "UTM-Aptima"; text-transform: uppercase;}
.overlay a:hover, .overlay a:focus { color: #f79737;}
.overlay .closebtn { position: absolute; top: 20px; right: 45px; font-size: 60px; z-index: 99}

.follow-menu { width: 90px; height: 330px; position: fixed; left: 0; bottom: 0;
    z-index: 999;}
.follow-menu ul { list-style: none; }
.follow-menu ul li { width: 100%; float: left; padding: 5px 0; }
.follow-menu ul li a img { display: block; margin: 0 auto; }
.g-doc { width: 3px; height: 45px; background: white; margin: 0 auto; border: 1px solid #2e7444;}
.g-ngang { width: 45px; height: 3px; background: white; margin: 0 auto; border: 1px solid #2e7444;}
@media screen and (max-width: 991px){
    .overlay-content { top: 50%; margin-top: -243px; }
    .overlay a {font-size: 30px; padding: 6px;}
    .overlay .closebtn { font-size: 40px; top: 15px; right: 35px;}
}
@media screen and (max-width: 767px){
    .overlay-content { top: 50%; margin-top: -200px; }
    .overlay a {font-size: 22px; padding: 6px;}
    .overlay .closebtn { font-size: 40px; top: 15px; right: 35px;}
}

@media screen and (max-width: 767px){
    .logo { left: 0; margin-left: 10px;}
    .call-phone {
        position: fixed;
        top: unset;
        left: unset;
        bottom: 0;
        right: 0;
    }
}
@media screen and (max-width: 500px){
    .logo { left: 0; margin-left: 10px; height: 30px; top: 15px;}
}
/*------------------------------------------------------------------------------------------------------------------------*/

.hp-video {width: 100%; float: left; overflow: hidden; position: relative; margin-top: 62px; margin-bottom: -7px; height: calc(100vh - 60px);}
#video-viewport { width: 100%;}
.detail-video { width: 100%; float: left; position: absolute; top: 0; }
.note-banner { position: absolute; bottom: 100px; left: 100px; }
.note-banner img { max-width: 100%; width: 837px; float: left; z-index: 100; }
@media screen and (max-width: 991px){
    .note-banner { width: calc(100% - 60px); padding: 30px; bottom: 0; left: 0; }
}

@media screen and (max-width: 1400px){
    .hp-video {
        height: auto;
    }
}
/*------------------------------------------------------------------------------------------------------------------------*/

.main-01 { width: 100%; float: left;
    position: relative;}
.main-01 .img-position-a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
}
.ShowBan-01 { min-height: 900px; position: relative; padding: 30px 0;}
.opacity-w50 { width: 100%; height: 100%; float: left; background-color: rgba(255,255,255,0); position: absolute; top: 0; left:0;  }
.opacity-b50 { width: 100%; height: 100%; float: left; background-color: rgba(0,0,0,.5); position: absolute; top: 0; left:0;  }

.title-01 { width: 100%; float: left; margin-top: 90px;}
.title-01 p { width: 100%; float: left; display: block; text-align: center; font-family: "UTM-Aptima"; font-size: 32px; text-transform: uppercase;}
.title-01 a { width: 100%; float: left; padding: 20px 0 10px 0;}
.title-01 img { width: auto; max-width: 100%; margin: 0 auto; display: block;}

.title-02 { width: 100%; float: left; margin-top: 90px;}
.title-02 p { width: 100%; float: left; font-family: "UTM-Aptima"; font-size: 48px; text-transform: uppercase;}
.title-02 span { width: 100%; float: left; font-family: "UTM-Aptima"; font-size: 28px; text-transform: uppercase; margin-top: 20px;}

@media screen and (max-width: 1080px){
    .ShowBan-01 { min-height: auto; padding: 60px 0}
    .opacity-w50 { background-color: rgba(255,255,255,.5);}
    .opacity-b50 {
        z-index: -1; background-color: rgba(0,0,0,.5);}
    .title-01, .title-02 { margin-top: 0; }
    .title-01 p { font-size: 20px; }
    .title-02 p { font-size: 26px; text-align: center; }
    .title-02 span { font-size: 20px; text-align: center; margin-top: 10px; }
    .ctent-01 p {
        font-size: 16px;
        text-align: justify;
    }
}

.ctent-01 { width: 100%; float: left; margin-top: 30px; }
.ctent-01 p { width: 100%; float: left;}
.ctent-01 a { width: 100%; float: left; margin-top: 30px; font-style: italic; }


.tt-kieuhanh p { color: #428f6b;}
.ct-kieuhanh p { color: #333; }
.ct-kieuhanh a { color: #f79737;}

.tt-duan p { color: #ffc216; }
.tt-duan span { color: #ffc216; }
.ct-duan p { color: white; }

.tt-vang p { color: white;}
.ct-vang p { color: white; }

.tt-thanghoa p { color: white;}
.ct-thanghoa p { color: white; }
.ct-thanghoa a { color: #f38244;}

.div-xanh { width: 360px; float: left; padding: 0 15px;
    position: relative;
    z-index: 2;}
.tt-xanh p { color: white;}
.ct-xanh p { color: #eeda7c; display: block; text-align: justify; }

@media screen and (max-width: 1080px){
    .div-xanh { width: 100%; }
}

.tt-thongminh p { color: #006c39;}
.ct-thongminh p { color: #3c3c3c; }
.ig-thongminh { width: 100%; float: left; margin-top: 160px; }
.ig-thongminh img { width: 100%; max-width: 903px; float: left; }
.nt-thongminh { width: 100%; float: left; color: white; margin-top: 260px; background: url(../images/icon-1-thongminh.jpg) no-repeat top center; padding-top: 20px; text-align: center; }


.main-02 { width: 100%; float: left; position: relative;}
.ShowBan-02 { width: 100%; float: left; background: url(../images/ban4.jpg) repeat center bottom; padding-bottom: 60px;}

.pks1 { width: 70%; float: left; padding: 0 15px; margin-top: 190px; }
.pks1 > img { width: 100%; float: left; }

.pks2 { width: 30%; float: left; padding: 0 15px;}
.pks2 > img { width: 100%; float: left; }


.chan01 { width: 100%; height: 0px; float: left; position: relative; z-index: 1; }
.chan01 > img { width: 100%; float: left; }

.main-03 { width: 100%; float: left; position: relative;}
.ShowBan-03 { width: 100%; float: left; padding-bottom: 60px;}
.main-03 > img { width: 100%; float: left; }

.ShowBan-04 { min-height: 900px; position: relative; padding: 60px 0;}



@media screen and (max-width: 1440px){
    .nt-thongminh { margin-top: 100px; }
}
@media screen and (max-width: 1080px){
    .ShowBan-02 { padding: 30px 0; }
    .tt-thongminh p { margin-top: 30px;}
    .ig-thongminh { margin-top: 30px; }
    .nt-thongminh { margin-top: 30px; }
    .ShowBan-03 { padding: 30px 0; }
    .ShowBan-04 { padding: 90px 0 30px 0; min-height: auto; }

}
@media screen and (max-width: 991px){
    .pks1, .pks2 { width: 100%; margin-top: 30px; }
    .ShowBan-02, .ShowBan-03 { padding-bottom: 30px; }
}


/*------------------------------------------------------------------------------------------------------------------------*/

.title-03 { width: 100%; float: left; margin-top: 60px; }
.title-03 > span { text-transform: uppercase; color: white; border-bottom: 1px solid white; font-family: "UTM-Aptima"; font-size: 40px; }

.news-home { width: 100%; float: left; }
.boxnews-h { width: 100%; float: left; }

.boxnews-h a.pic {float: left;
    position: relative;}
.news-newest {
    position: absolute;
    top: -15px;
    left: 15px;
    padding: 2px 14px;
    background-color: #ffc216;
    border-radius: 6px;
    border: 1px solid #fff;
    color: #000;
}
.boxnews-h a.pic img { width: 100%; float: left; }

.boxnews-h a.tit { width: 100%; float: left; color: white; font-size: 24px; background: url(../images/icon-1-news.jpg) no-repeat left bottom; margin-top: 10px; }
.boxnews-h span { float: left; color: white; font-style: italic; margin-top: 16px; }
.boxnews-h a.view { transition: all .3s ease-in-out; width: 100%; float: left; color: #ffc216; font-size: 20px; font-style: italic; margin-top: 20px; }
.boxnews-h a.view:hover {
    color: #fff;
}

.boxnews-h1 .tit-view, .boxnews-h3 .tit-view { width: 70%; float: left; }
.boxnews-h2 .tit-view { width: calc(50% - 30px); float: right; }

.boxnews-h1 { margin-top: 90px; }
.boxnews-h2 { margin-top: 60px; }
.boxnews-h3 { margin-top: 30px; }

.boxnews-h1 > a.pic { width: 100%; }
.boxnews-h2 > a.pic { width: 50%; }
.boxnews-h3 > a.pic { width: 75%; }
.boxnews-h > a.pic {
    overflow: hidden;
}
.boxnews-h > a.pic img {
    transition: all .3s ease-in-out;
}
.boxnews-h > a.pic img:hover {
    transform: scale(1.1);
}
.boxnews-h1 span, .boxnews-h3 span { width: 30%; float: right; text-align: right; }
.boxnews-h2 span { width: calc(50% - 30px); float: right;}

@media screen and (max-width: 991px){
    .title-03 { margin-top: 30px; }
    .boxnews-h1, .boxnews-h2, .boxnews-h3 { margin-top: 30px; }
    .boxnews-h1 > a.pic, .boxnews-h2 > a.pic, .boxnews-h3 > a.pic { width: 100%; }
    .boxnews-h1 .tit-view,.boxnews-h2 .tit-view, .boxnews-h3 .tit-view { width: 100%; }
    .boxnews-h1 span,.boxnews-h2 span, .boxnews-h3 span { width: 100%; text-align: left; }
}

.ShowBan-05 { width: 100%; float: left; background: #006838; position: relative; padding: 90px 0 30px 0; }
.footer { width: 100%; float: left; }
.logo-f { width:678px; max-width: 100%; height: 114px; padding:10px; margin:0 auto; position:relative;}
.logo-f > img { width: 100%; float: left; margin:auto; position:absolute; top:0; left:0; right:0; bottom:0;}
.footer > p.p1 { width: 100%; float: left; color: white; text-transform: uppercase; font-size: 34px; font-weight: bold; display: block; text-align: center; background: url(../images/icon-1-footer.jpg) no-repeat bottom center; padding-bottom: 20px; margin-top: 30px; }
.footer > p.p2 { width: 100%; float: left; color: white; text-align: center; display: block; }

.ncc { width: 100%; float: left; margin-top: 30px; }
.ncc > p { width: 100%; float: left; color: white; text-transform: uppercase; display: block; text-align: center;
    font-size: 16px;}

.ncc-img { width:100%; height: 110px; padding:10px; margin:0 auto; position:relative; margin-top: 10px;}
.ncc-img > img { width: auto; max-width: 100%; float: left; margin:auto; position:absolute; top:0; left:0; right:0; bottom:0;}
#footer-sc .col-md-2:first-of-type .ncc-img,
#footer-sc .col-md-2:last-of-type .ncc-img{
    width: 100px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 991px) {
    .ShowBan-05 {
        padding: 30px 0 30px 0;
    }
    .ncc > p {
        font-size: 14px;
    }
}




.sliderpage { width: 16px; height: 235px; position: fixed; right: 10px; top: 50%; margin-top: -120px; z-index: 10;}
.sliderpage ul { list-style: none; }
.sliderpage ul li { width: 16px; height: 16px; float: left; margin: 5px 0; }
.sliderpage ul li a { width: 16px; height: 16px; float: left;}
.sliderpage ul li a span {width: 16px; height: 16px; background: none; float: left; border-radius: 8px; border: 2px solid #ffc216;}
.sliderpage ul li a.active span {width: 16px; height: 16px; background: #ffc216; float: left; border-radius: 8px;}

.ct-title {
    color: #f79737;
    margin-top: 30px;
    font-style: italic;
}


/*---Kiêu Hãnh---------------------------------------------------------------------------------------------------------------------*/
.main-05 { width: 100%; float: left; position: relative; background: white; }
.img-kieuhanh { width: 50%; float: left;}
.img-kieuhanh img { float: left; max-width: 100%;}
.ShowBan-kieuhanh { width: calc(50% - 95px); max-width: 100%; position: absolute; top: 0; right: 80px; }
.ShowBan-kieuhanh .ct-kieuhanh p { font-size: 18px; width: 100%; float: left; text-align: justify; }

@media screen and (max-width: 1360px){
    .img-kieuhanh { margin-top: 60px;}
}
@media screen and (max-width: 1280px){
    .img-kieuhanh { margin-top: 90px;}
}
@media screen and (max-width: 1080px){
    .ShowBan-kieuhanh { top: 30px; }
}
@media screen and (max-width: 991px){
    .ShowBan-kieuhanh { width: 100%; position: unset; padding: 30px 20px 0 20px; }
    .ShowBan-kieuhanh .ct-kieuhanh p { font-size: 16px; }
    .img-kieuhanh { margin-top: 0; width: 100%;}
    .img-kieuhanh img { max-width: 100%; float: left; }
    .footer > p.p1 {
        font-size: 16px;
        margin-top: 0;
        line-height: 24px;
        position: relative;
        background: unset;
    }
    .footer > p.p1:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 40%;
        height: 3px;
        background: #fff;
    }
    .ctent-01 {
        margin-top: 15px;
    }
    .ctent-01 a {
        margin-top: 15px;
    }
    .footer > p.p2, .footer a {
        font-size: 14px;
    }
    .hidden-sm {
        display: none !important;
    }
}
/*------------------------------------------------------------------------------------------------------------------------*/

/*---Vàng---------------------------------------------------------------------------------------------------------------------*/
.main-04 { width: 100%; float: left; position: relative; background: #006738; }
.img-tongquan { width: 100%; float: left;}
.img-tongquan img { float: right; max-width: 70%;}
.ShowBan-tongquan { width: 460px; max-width: 100%; position: absolute; top: 0; left: 80px;
    z-index: 1;}
.ShowBan-tongquan .ct-vang p { font-size: 18px; width: 100%; float: left; text-align: justify; }

@media screen and (max-width: 1360px){
    .img-tongquan { margin-top: 60px;}
}
@media screen and (max-width: 1280px){
    .img-tongquan { margin-top: 90px;}
}
@media screen and (max-width: 1080px){
    .ShowBan-tongquan { top: 30px; }
}
@media screen and (max-width: 991px){
    .ShowBan-tongquan { width: 100%; position: unset; padding: 30px 20px 0 20px; }
    .ShowBan-tongquan .ct-vang p { font-size: 16px; }
    .img-tongquan { margin-top: 0;}
    .img-tongquan img { max-width: 100%; float: left; }
    .main-04 #video-viewport {
        margin-top: 20px;
    }
}
/*------------------------------------------------------------------------------------------------------------------------*/

.bg-header { width: 100%; float: left; height: 62px; }
.main-ct { width: 100%; float: left; position: relative;
    z-index: 9;}
.main-ct > img { width: 100%; float: left;}
.box-ct { max-width: 680px; width: 100%; position: absolute; top: 0; right: 0; padding: 0 60px; }
.box-ct-1 { max-width: 680px; width: 100%; position: absolute; bottom: 60px; right: 0; padding: 0 60px; }
.box-ct-2 { max-width: 480px; width: 100%; position: absolute; top: 0; left: 0; padding: 0 60px; }

.tt-kieuhanh-1 p { color: #ffcf6d;}
.ct-kieuhanh-1 p { color: white;}

.tt-kega p { color: #ffcf6d; text-transform: unset;}
.ct-kega p { color: white;}

.tt-binhminh p { color: #ffcf6d;}
.ct-binhminh p { color: #2b2b2b;}

.tt-lytuong p { color: white;}
.ct-lytuong p { color: white;}

.tt-vang-1 p { color: white;}
.ct-vang-1 p { color: white; display: block; text-align: justify; margin-bottom: 10px; }


@media screen and (max-width: 1080px){
    .box-ct { top: 30px;}
    .box-ct-1 { bottom: 30px; }
}
@media screen and (max-width: 991px){
    .main-ct > img { position: absolute; top: 0; left: 0; height: 100%; z-index: -1; -o-object-fit: cover; object-fit: cover; -o-object-position: 50% 50%; object-position: 30% 50%;}
    .box-ct, .box-ct-1, .box-ct-2 { padding: 30px 16px 100px }

    .box-ct { position: unset; float: left; width: 100%; max-width: 100%;}
    .box-ct-1 { position: unset; float: left; width: 100%; max-width: 100%;}
    .box-ct-2 { position: unset; float: left; width: 100%; max-width: 100%;}
    .location-page .box-ct-2 {
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 767px){
    .main-ct > img {
        /*position: unset;*/
    }
}


.maps { width: 100%; float: left;
    background: url("../images/bg-location.png") no-repeat center / cover;}
.maps img { width: 100%; float: left; }



/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.main-tich {width: 100%; float: left; background: url(../images/tich-1.jpg) no-repeat center fixed; padding-bottom: 60px;}
.index-tich-1 { width: calc(100% - 120px); float: left; margin: 60px 0 0 60px; }

.title-06 { width: 100%; float: left; margin-top: 60px; }
.title-06 > p { width: 100%; float: left; display: block; text-align: center; color: white; font-family: "UTM-Aptima"; font-size: 50px; text-transform: uppercase; }

@media screen and (max-width: 991px){
    .title-05 { margin-top: 30px; }
    .title-05 > p { font-size: 26px; }
}

.tich-left { width: 500px; height: 640px; float: left;  background: rgba(255,255,255,.7); padding: 30px;}
.tt-5sao p { color: #1a8641; text-transform: unset;}
.ct-5sao p { color: black; width: 100%; float: left; text-align: justify;}

.tich-right { width: calc(100% - 500px); height: 700px; float: left; overflow: hidden; position: relative; }
.tich-right > a { width: calc(100% - 30px); height: calc(100% - 60px); float:left; overflow: hidden; position: absolute; z-index: 2;}
.tich-right > a > img { width: auto; min-width: 100%; height: 100%; float: left;  }
.tit-tich-right { width: calc(100% - 30px); height: calc(100% - 60px); float: left; position: absolute; right: 0; bottom: 0; background: #006838; z-index: 0;}
.tit-tich-right p { width: 100%; height: 60px; float: left; position: absolute; bottom: 0; color: white; font-family: "UTM-Aptima"; font-size: 30px; display: block; text-align: center; line-height: 50px; }




@media screen and (max-width: 1080px){
    .tich-left { width: 100%; float: left; height: auto; }
    .tich-right { width: 100%; float: left; margin-top: 30px; height: 500px; }
}
@media screen and (max-width: 991px){
    .tich-right { height: 400px; }
    .index-tich-1 { width: 100%; float: left; margin: 0; padding: 30px;}
    .main-tich { padding-bottom: 30px; }
}





/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.box-gt-1 { width: 35%; height: 100%; float: left; position: absolute; top: 0; right: 0; background-color: rgba(0,0,0,.5); padding: 30px; }
.title-04 { width: 100%; float: left; margin-top: 60px; }
.title-04 > p { width: 100%; float: left; display: block; text-align: center; color: white; font-family: "UTM-Aptima"; font-size: 50px; }

.ctent-04 { width: 100%; float: left; margin-top: 30px; }
.ctent-04 ul { list-style: none; }
.ctent-04 ul li { width: 100%; float: left; padding: 30px 0 30px 90px; }
.ctent-04 ul li p { width: 100%; float: left; font-size: 22px; color: white; font-family: "UTM-Aptima"; background: red; padding-left: 15px; background: url(../images/ic-gt-5.png) no-repeat top left; }
.ctent-04 ul li.tqda-01 { background: url(../images/ic-gt-1.png) no-repeat center left; }
.ctent-04 ul li.tqda-02 { background: url(../images/ic-gt-2.png) no-repeat center left; }
.ctent-04 ul li.tqda-03 { background: url(../images/ic-gt-3.png) no-repeat center left; }
.ctent-04 ul li.tqda-04 { background: url(../images/ic-gt-4.png) no-repeat center left; }

@media screen and (max-width: 1280px){
    .box-gt-1 { width: 50%; }
}
@media screen and (max-width: 1200px){
    .title-04 { margin-top: 0; }
    .ctent-04 { margin-top: 0; }
}
@media screen and (max-width: 1080px){
    .box-gt-1 { width: 100%; }
}
@media screen and (max-width: 991px){
    .title-04 { margin-top: 30px; }
    .title-04 > p { font-size: 36px; }
    .box-gt-1 { position: unset; width: 100%; float: left;}
}


.matbangxaydung { width: 100%; float: left; padding: 0 30px; }
.matbangxaydung > img { width: 100%; float: left; margin-top: 30px; }

.title-05 { width: 100%; float: left; margin-top: 60px; }
.title-05 > p { width: 100%; float: left; display: block; text-align: center; color: #f79331; font-family: "UTM-Aptima"; font-size: 50px; text-transform: uppercase; }

@media screen and (max-width: 991px){
    .title-05 { margin-top: 30px; }
    .title-05 > p { font-size: 26px; }
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.main-dichvu { width: 100%; float: left; background: url(../images/bg-dv-1.png) repeat center white; padding: 60px 0; }

.tt-traitim p { color: #006838;}
.ct-traitim p { color: #f79a3f; display: block; text-align: center; margin-bottom: 10px; }

/* Flexisel */
#flexiselDemo1,
#flexiselDemo2,
#flexiselDemo3,
#flexiselDemo31,
#flexiselDemo32,
#flexiselDemo33,
#flexiselDemo34,
#flexiselDemo35,
#flexiselDemo36 {display:none; top: 0 !important;}
.nbs-flexisel-container {position:relative;max-width:100%;}
.nbs-flexisel-ul {position:relative;width:99999999px;margin:0px; padding:0px;list-style-type:none;/*text-align:center;  */}
.nbs-flexisel-inner {overflow:hidden;float:left;width:100%;}
.nbs-flexisel-item {float:left;cursor:pointer; height: 100%;/*margin:0px;padding:0px;position:relative;line-height:0px;*/}
/*.nbs-flexisel-item img {width: 100%;cursor: pointer;position: relative;margin-top: 10px;margin-bottom: 10px;max-width:110px;max-height:110px;}*/
/*** Navigation ***/
.nbs-flexisel-nav-left,.nbs-flexisel-nav-right {width: 21px;height: 87px; position: absolute;cursor: pointer;z-index: 9;opacity: 1;}
.nbs-flexisel-nav-left { left: 5px;background: url(../images/button-previous.png) no-repeat; opacity: .1; -webkit-transition: 1s; -o-transition: 1s; transition: 1s;}
.nbs-flexisel-nav-right { right: 5px;background: url(../images/button-next.png) no-repeat; opacity: .1; -webkit-transition: 1s; -o-transition: 1s; transition: 1s;}
.listpros:hover .nbs-flexisel-nav-left { opacity: .9; }
.listpros:hover .nbs-flexisel-nav-right { opacity: .9; }

.top-30 { margin-top: 30px; width: 100%; float: left; }
.listpros { width: 100%; float: left; position: relative;}
.boxpros { width: 100%; float: left;}
.boxpros img { width: 100%; float: left; }


.mn-dichvu { width: 100%; float: left; margin-top: 60px; }
.mn-dichvu > img { float: left; width: 80px; height: 80px; margin-left: -40px; left: 50%; position: relative; }
.mn-dichvu > a { width: 100%; height: 62px; overflow: hidden; float: left; display: block; text-align: center; color: green; text-transform: uppercase; font-size: 22px; margin-top: 5px; font-family: "UTM-Aptima" }

.banner-full { width: 100%; float: left; }
.banner-full img { width: 100%; float: left; }

.tt-chuyennghiep p { color: #0f7c3e; text-transform: unset;}
.ct-chuyennghiep p { color: black; width: 100%; float: left; text-align: justify;}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.index-thuvien { width: 100%; height: auto; float: left; position: relative; padding-bottom: 100px; border-bottom: 1px solid black;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006938+0,37b349+100 */
    background: #006938; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear,  left top, right top,  from(#006938),to(#37b349));
    background: -o-linear-gradient(left,  #006938 0%,#37b349 100%);
    background: linear-gradient(to right,  #006938 0%,#37b349 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006938', endColorstr='#37b349',GradientType=1 ); /* IE6-9 */
}
.index-thuvien > img { max-width: calc(100% - 120px); width: auto; float: left; margin: 60px 0 0 60px; display: block; }

.list-thuvien { width: 100%; float: left; padding: 0 60px;}
.list-thuvien > p { width: 100%; float: left; color: white; font-size: 60px; text-transform: uppercase; display: block; text-align: right; font-family: "UTM-Aptima"; background: url(../images/ic-thuvien.jpg) no-repeat bottom right; }


.top-301 { margin-top: 30px; width: 100%; height: 100%; float: left; position: relative; margin-top: 30px; }
.listpros1 { width: 100%; float: left; position: relative;}
.listpros1 .owl-carousel .owl-controls {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -45px;
}
.boxpros1 { width: 100%; float: left; padding: 0;
    position: relative;}
.boxpros1 img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: 50% 50%; object-position: 50% 50%; float: left; }

.top-301 .nbs-flexisel-nav-right { right: 3px.card-item-01 h5;background: url(../images/button-next.png) no-repeat; opacity: .1; -webkit-transition: 1s; -o-transition: 1s; transition: 1s;}

@media screen and (max-width: 767px){
    .top-301 { right: 0; padding: 0 100px; }
    .top-301 .nbs-flexisel-nav-right { right: 5px;background: url(../images/button-next.png) no-repeat; opacity: .1; -webkit-transition: 1s; -o-transition: 1s; transition: 1s;}
}

.main-brochure { width: 100%; float: left; margin-top: 30px; }
.main-brochure img { margin: 0 auto; max-width: 100%; display: block; }


.sliderpage1 { width: 16px; height: 235px; position: fixed; right: 10px; top: 50%; margin-top: -120px; z-index: 10;}
.sliderpage1 ul { list-style: none; }
.sliderpage1 ul li { width: 16px; height: 16px; float: left; margin: 5px 0; }
.sliderpage1 ul li a { width: 300px; height: 22px; float: left; color: white; display: block; text-align: right; float: left;}
.sliderpage1 ul li a span {width: 16px; height: 16px; background: none; float: left; border-radius: 8px; border: 2px solid #999;}
.sliderpage1 ul li a.active span {width: 16px; height: 16px; background: #999; float: left; border-radius: 8px;}

.boxpros1 p.title {
    position: absolute;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    right: 20px;
    bottom: 20px;
}
.boxpros1 p.title:before {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 50%;
    height: 1px;
    background: #fff;
}




.tit-mb { width: 100%; float: left; position: absolute; top: 60px; left: 0; padding: 0 30px;}
.tit-mb img { max-width: 100%; display: block; margin: 0 auto; }
.view-mb-1 { width: 601px; height: 166px; position: absolute; right: 60px; top: 50%; margin-top: -83px; }
.view-mb-2 { width: 626px; height: 377px; position: absolute; right: 60px; top: 50%; margin-top: -188px; }
.view-mb-1 img, .view-mb-2 img { max-width: 100%; }


.view-mb-1a { max-width: 700px; width: 100%; position: absolute; right: 60px; top: 50%; margin-top: -83px;
    z-index: 100;}
.view-mb-1a ul { list-style: none; }
.view-mb-1a ul li { width: calc(50% - 30px); float: left; padding: 0 15px 0 45px; margin: 30px 0 0 30px; }
.view-mb-1a ul li > span { width: 100%; float: left; color: white; text-transform: uppercase; font-family: "UTM-Aptima"; }
.view-mb-1a ul li > p { width: 100%; float: left; color: white; font-family: "UTM-Aptima"; }




@media screen and (max-width: 991px){
    .tit-mb { position: unset; margin-top: 30px; float: left; }
    .view-mb-1a, .view-mb-1, .view-mb-2 { width: 100%; height: auto; position: unset; margin-top: 0; float: left; padding: 30px;
        background: #006838;}
    .view-mb-1a ul li { width: calc(50% - 10px); margin: 30px 0 0 10px;}
    .ground-img-hover {
    }
    .ground-img-hover img {
        height: 100%;
        object-fit: cover;
        object-position: 30% 50%;
    }
    .main-ct#mb-02 {
        border-bottom: 1px solid #fff;
    }
    .view-mb-1a {
        padding: 30px 20px 70px;
    }
}
@media (max-width: 767px) {
    .tit-mb {
        position: absolute;
        top: 0;
        margin-top: 10px;
    }
    .tit-mb img {
        width: 70%;
    }
}

.ct-news-page {
    padding-top: 100px;
    margin-bottom: 50px;
}

.ct-news-page img,
.related-news img {
    display: block;
}
.ct-news-page h3,
.related-news h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}
.ct-news-page h3 a,
.related-news h3 a{
    color: #000;
    line-height: normal;
}
.ct-news-page p,
.related-news p {
    font-size: 14px;
}
.ct-news-page .date,
.related-news .date {
    margin: 10px 0;
}
.ct-news-page .view_news,
.related-news .view_news {
    font-size: 16px;
    text-transform: uppercase;
    color: #f79331;
    transition: all .3s ease-in-out;
}
.ct-news-page .view_news:hover,
.related-news .view_news:hover {
    color: #0f7c3e;
}
.ct-news-page .ct_post,
.related-news .ct_post {
    margin-bottom: 30px;
}
.ct_post .img-news {
    overflow: hidden;
}
.ct_post .img-news img {
    transition: all .3s ease-in-out;
}
.ct_post .img-news img:hover {
    transform: scale(1.1);
}
.post-wrapper {
    margin: 0 20px 20px;
}
.post-banner_img {
    min-height: 593px;
    position: relative;
}
.post-banner_img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
}
.post-banner_img h2 {
    position: absolute;
    z-index: 2;
    left: 50px;
    bottom: 50px;
    font-size: 46px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.post-wrapper .content {
    margin: 30px 0 50px;
}
.post-wrapper .content p {
    margin-bottom: 15px;
}
.overflow-hidden {
    overflow: hidden !important;
}
.related-news {
    margin: 30px 0 50px;
}
.related-news h3.title {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
}

.owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}

.owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    outline: none;
    bottom: -50px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}
.owl-theme .owl-nav button.owl-prev {
    left: 5%;
}
.owl-theme .owl-nav button.owl-next {
    right: 5%;
}
.owl-theme .owl-dots {
    position: absolute;
    left: 50%;
    bottom: -12%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #f79331;
}
.owl-carousel.owl-drag .owl-item {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
}
.owl-library.owl-carousel.owl-drag .owl-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
}
.owl-library.owl-carousel.owl-drag .owl-item.center:before {
    background: unset;
    width: 0;
    height: 0;
}
.ground-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.ground-img-hover img {
    width: 100%;
}
map:focus, map area:focus {
    outline: none;
}
map:hover + .ground-img-hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .owl-theme .owl-nav button.owl-prev {
        left: 0;
    }
    .owl-theme .owl-nav button.owl-next {
        right: 0;
    }
    .list-thuvien > p {
        font-size: 26px;
    }
    .index-thuvien > img {
        width: 50%;
    }
    .top-301 {
        padding: 0 1rem;
    }
    .post-banner_img h2 {
        left: 20px;
        font-size: 20px;
        line-height: 28px;
    }
    .view-mb-1a ul li:first-of-type {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .view-mb-1a ul li {
        width: 100%;
    }
}
.mb-popup {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 99997;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}
.mb-popup.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.mb-popup:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .86);
}
.mb-popup .close_popup {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 99998;
    cursor: pointer;
}
.mb-popup .hero {
    width: 70% !important;
    margin: 0 auto;
}
.mb-popup .hero-1 {
    width: 50% !important;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.mb-popup .pt-30 {
    padding-top: 30px;
}
.mb-popup .hero-3 {
    width: 70% !important;
    margin-top: 10px;
}
.mb-popup p, .mb-popup h3, .mb-popup span {
    font-family: 'UTM-Aptima';
}
.mb-popup .description {
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: 50px;
}
.mb-popup .description .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.mb-popup .description ul {
    list-style: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.mb-popup .description ul p {
    position: relative;
    margin-bottom: 20px;
}
.mb-popup .description ul p:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -25px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1px;
    height: 20px;
    background: #ffffff;
}
.mb-popup .description ul span {
    font-size: 30px;
}
.mb-popup .warning {
    font-size: 14px;
    max-width: 370px;
    margin-left: auto;
}
.mb-popup .owl-theme .owl-nav {
    top: 32%;
}
.mb-popup .owl-theme .owl-nav button.owl-next {
    right: 61%;
}
@media (max-width: 767px) {
    .mb-popup {
        overflow: auto;
    }
    .mb-popup:before {
        width: 0;
        height: 0;
    }
    .mb-popup .owl-theme .owl-nav button.owl-next {
        right: 0;
    }
    .mb-popup .col-md-7 {
        margin-top: 30px;
    }
    .mb-popup .warning {
        margin-top: 20px;
    }
    .mb-popup .description {
        max-width: 100%;
        margin-right: 0;
    }
    .mb-popup .overlay {
        width: 100%;
        z-index: 1;
    }
    #footer-sc .col-md-2:first-of-type .ncc-img,
    #footer-sc .col-md-2:last-of-type .ncc-img,
    #footer-sc .col-md-2:nth-child(3) .ncc-img {
        width: 75px;
    }
    #footer-sc .col-md-2:first-of-type .ncc-img {
        margin-top: 40px;
    }
}
.popup-form {
    position: fixed;
    max-width: 600px;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url('../images/bg-popup-form.png') no-repeat center / cover;
    padding: 50px;
    z-index: 10000;
    display: none;
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, .4);
    border: 4px solid #ffc717;
}
.popup-form.show {
    display: block;
}
.popup-form .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.popup-form i {
    font-family: 'FontAwesome';
}
.popup-form .close-popup {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: #ffffff;
    z-index: 3;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
.popup-form h2, .popup-form input, .popup-form textarea {
    font-family: 'UTM-Aptima';
}
.popup-form .title {
    font-size: 30px;
    position: relative;
    z-index: 2;
    color: #ffc717;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    line-height: normal;
}
.popup-form input,
.popup-form select,
.popup-form textarea {
    border: 0;
    border-bottom: 1px solid #fff;
    height: 2.125rem;
    margin-left: 0;
    margin-top: 0;
    outline: none;
    padding: 0 .6875rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
    background: transparent;
    color: #fff;
}
.popup-form select option {
    background: #2C3542;
}
.popup-form .form-group i {
    font-style: normal;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.popup-form input::placeholder {
    color: #fff;
}
.popup-form textarea {
    height: 100px;
}
.popup-form .form-row {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.popup-form .form-group {
    position: relative;
    z-index: 2;
    margin-bottom: 25px;
}
.popup-form .form-group label {
    color: #777;
    display: inline-block;
    font-size: .6875rem;
    font-weight: 600;
    left: .375rem;
    line-height: 1;
    opacity: 0;
    padding: .3125rem .1875rem .1875rem;
    position: absolute;
    text-transform: uppercase;
    top: .5625rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    visibility: hidden;
}
.popup-form .popup-submit {
    padding: 5px 20px;
    border: 1px solid #fff;
    background: #ffc717;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    outline: none;
}
.popup-form .popup-submit:hover {
    background: #fff;
    color: #ffc717;
}
.popup-form .btn-group-submit {
    margin-top: 100px;
}
.popup-form .input-error {
    border: 1px solid red;
}
.popup-form .input-error::-webkit-input-placeholder {
    color: red;
}

@media (max-width: 767px) {
    .popup-form {
        height: 100vh;
        padding-top: 100px;
        overflow: auto;
        padding: 20px;
    }
    .popup-form .close-popup {
        top: 65px;
        right: 20px;
    }
    .popup-form .overlay {
        height: calc(100vh + 60px);
    }
    .popup-form .title {
        padding-top: 100px;
    }
}

@media (max-width: 911px) {
    .location-page {
        background: #006738;
    }
}
.asset-management:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 33%;
    overflow: hidden;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#38AF49), to(#016A3A));
    background-image: -o-linear-gradient(#38AF49, #016A3A);
    background-image: linear-gradient(#38AF49, #016A3A);
}
.owl-utilities.owl-theme .owl-nav button.owl-prev {
    left: 4%;
}
.owl-utilities.owl-theme .owl-nav button.owl-next {
    right: 4%;
}
.tich-right .owl-carousel,
.tich-right .owl-carousel .owl-stage-outer,
.tich-right .owl-carousel .owl-stage,
.tich-right .owl-carousel.owl-drag .owl-item,
.tich-right .gallery {
    height: 100%;
}
.tich-right img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
}
.tich-right .children {
    display: block;
    height: calc(100% - 60px);
}
.video-home-page:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    background-image: linear-gradient(transparent, #111);
}
.follow-menu i {
    font-family: 'FontAwesome';
    font-style: normal;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}
.form-error {
    color: #f00;
    position: relative;
    z-index: 2;
    font-size: 14px;
}
.follow-menu .facebook i {
    color: #3b5998;
}
.follow-menu .youtube i {
    color: #bb0000;
}
.call-phone .ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
}
.call-phone .ring-circle {
    width: 55px;
    height: 55px;
    top: 3px;
    left: 2px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #2e7444;
    -webkit-animation: circle-anim 1.2s infinite ease-in-out;
    animation: circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
}
.call-phone .ring-circle-fill {
    width: 45px;
    height: 45px;
    top: 8px;
    left: 7px;
    position: absolute;
    background-color: rgba(46, 116, 68, .7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
    animation: circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.call-phone .ring-img-circle {
    background-color: #2e7444;
    width: 33px;
    height: 33px;
    top: 14px;
    left: 13px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: circle-img-anim 1s infinite ease-in-out;
    animation: circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.call-phone .ring-img-circle a {
    display: flex;
}
.call-phone .ring-img-circle .btn-img img {
    width: 20px;
    height: 20px;
}
@-webkit-keyframes circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.5) skew(1deg);
        -webkit-opacity: 0.1;
    }
    30% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        -webkit-opacity: 0.5;
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: 0.1;
    }
}
@-webkit-keyframes circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.6;
    }
    100% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }
}
@-webkit-keyframes circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}
@media (max-width: 767px) {
    .call-phone .ring-circle {
        border: 2px solid #f79331;
    }
    .call-phone .ring-circle-fill {
        background-color: rgba(247, 147, 49, .7);
    }
    .call-phone .ring-img-circle {
        background-color: #f79331;
    }
}
.location-page .opacity-b50 {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, .7));
    background-color: unset;
    width: 50%;
}
.load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background: #ffff;
    overflow: hidden;
}
.load img {
    max-width: 200px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
    .follow-menu {
        width: 65px;
        height: 235px;
    }
    .follow-menu ul li a img {
        width: 40px;
    }
    .follow-menu ul li:first-of-type a img {
        width: 25px;
    }
    .g-doc {
        height: 25px;
    }
    .g-ngang {
        width: 25px;
    }
    .ctent-04 ul li p {
        font-size: 18px;
    }
    .logo-f > img {
        width: 70%;
    }
    .location-page .opacity-b50 {
        width: 0;
    }
}
.view-mb-1a ul li {
    position: relative;
}
.view-mb-1a ul li:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.color-ch-a:before {
    background: #FDC46B;
}
.color-ch-b:before {
    background: #FDF499;
}
.color-ch-c:before {
    background: #FFF6D8;
}
.color-ch-d:before {
    background: #E6F1E1;
}
.color-ch-e:before {
    background: #C3E3C2;
}
.color-ch-f:before {
    background: #80B968;
}
.color-ch-g:before {
    background: #F8D860;
}
.color-ch-h:before {
    background: #D5E59D;
}
#tongquan .opacity-b50 {
    z-index: 1;
}
#tongquan .container-full {
    position: relative;
    z-index: 2;
}
#mb-01 > img,
#mb-02 > img {
    position: unset;
}
.owl-theme .owl-nav button {
    opacity: .6;
    transition: opacity .3s;
}
.owl-theme .owl-nav button:hover {
    opacity: 1;
}
.looking-info {
    transition: all .3s ease-in-out;
}
.looking-info:hover {
    color: #fff;
}
