.fa-section_1 {
    .fa-section_1_content {
        position: absolute;
        left: 50px;
        bottom: 80px;
        .fa-slogan {
            display: flex;
            align-items: center;
            p {
                margin-bottom: 0;
                color: $white;
                font-size: 30px;
                margin-left: 10px;
            }
        }
        .fa-description {
            text-align: center;
            margin-top: 15px;
            span {
                display: block;
                color: $yellow;
            }
        }
    }
}

.fa-section_2 {
    .fa-slogan {
        text-align: center;
        margin-bottom: 30px;
        h4 {
            font-size: 24px;
            color: $primary;
        }
        img {
            margin: 10px 0;
        }
    }
    .see-more {
        color: $yellow;
        text-decoration: none;
    }
}

.fa-section_3 {
    .fp-tableCell {
        vertical-align: top;
    }
    .introduce {
        padding: 110px 0;
        color: $yellow;
        h3 {
            margin-bottom: 20px;
        }
        p {
            max-width: 620px;
            color: $white;
        }
    }
}

.fa-section_4 {
    color: $white;
    padding: 110px 0 0;
    .fp-tableCell {
        vertical-align: top;
    }
    .fa-slogan {
        display: inline-block;
        text-align: center;
    }
    .description {
        max-width: 350px;
        margin-top: 20px;
    }
}

.fa-section_5 {
    .fp-tableCell {
        vertical-align: top;
    }
    .utilities {
        padding: 110px 0 30px;
        background-color: $primary;
        position: relative;
        .logo {
            margin-left: 50px;
            margin-top: 80px;
        }
        .pool-view {
            margin-top: 40px;
        }
        .fa-slogan {
            text-align: center;
            color: $white;
            img {
                margin: 10px 0;
            }
        }
        .description {
            color: $white;
            margin-top: 20px;
        }
        .see-more {
            color: $yellow;
            display: block;
            margin-bottom: 30px;
        }
        .wave {
            position: absolute;
            bottom: -150px;
            left: 0;
            width: 100%;
        }
    }
    .architecture {
        background-image: url('../img/home/banner-5.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 110px;
        .fa-slogan {
            text-align: center;
            color: $white;
            margin-top: 80px;
        }
        .description {
            text-align: justify;
            margin-top: 30px;
            p {
                color: $yellow;
            }
        }
    }
}

.fa-section_7 {
    background-image: url('../img/home/banner-bottom.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    img {
        &:first-of-type,
        &:last-of-type {
            width: 200px;
        }
    }
    .fa-slogan {
        text-align: center;
        margin-top: -60px;
        margin-bottom: 20px;
        h4 {
            color: $primary;
        }
    }
    p {
        max-width: 600px;
        margin-left: auto;
    }
    ul {
        padding: 0;
        list-style: none;
        text-align: center;
        margin-top: 50px;
        li {
            color: $white;
            position: relative;
            padding-top: 8px;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
                height: 2px;
                background-color: $white;
            }
        }
    }
}

.fa-section_8 {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .4);
    }
    .news {
        max-width: 1080px;
        margin: 0 auto;
        position: relative;
        h3 {
            color: $white;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 20px;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 70px;
                height: 2px;
                background-color: $white;
            }
        }
        .news-item {
            img {
                width: 100%;
            }
            .news-title {
                color: $white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    padding-right: 10px;
                    text-decoration: none;
                    cursor: pointer;
                    color: $white;
                }
                span {
                    font-size: 14px;
                    font-weight: normal;
                    font-style: italic;
                }
            }
            .see-more {
                color: $yellow;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .news-top-right {
            display: flex;
            margin-top: -30px;
            .img-cover {
                width: 200px;
                display: block;
                img {
                    width: 100%;
                }
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 10px;
                a {
                    color: $white;
                    text-decoration: none;
                    cursor: pointer;
                    &.see-more {
                        color: $yellow;
                    }
                }
                span {
                    font-size: 14px;
                    font-weight: normal;
                    font-style: italic;
                    color: $white;
                }
            }
        }
        .news-bottom-right {
            margin-top: 30px;
            max-width: 400px;
        }
    }
}

.fa-section_9 {
    padding: 110px 0 0;
    color: $white;
    .fp-tableCell {
        vertical-align: top;
    }
    .logo-foot {
        text-align: center;
        a {
            display: inline-block;
            width: 400px;
            img {
                width: 100%;
            }
        }
    }
    h3 {
        text-align: center;
    }
    .address,
    .address-project{
        margin-top: 15px;
        p {
            text-align: center;
            margin-bottom: 0;
        }
    }
    .border-bot {
        position: relative;
        padding-bottom: 15px;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 400px;
            height: 2px;
            background-color: $white;
        }
    }
    .supplier {
        margin-top: 30px;
        [class*='col-'] {
            text-align: center;
        }
        h5 {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
    .note {
        font-size: 12px;
        text-align: center;
        max-width: 1000px;
        margin: 30px auto 0;
    }
}

#section1 {
    background-image: url('../img/home/banner-1.jpg');
    background-size: cover;
}
#section3 {
    background-image: url('../img/home/banner-3.png');
    background-size: cover;
}
#section4 {
    background-image: url('../img/home/banner-4.png');
    background-size: cover;
}
#section8 {
    background-image: url('../img/home/banner-news.png');
    background-size: cover;
}
#section9 {
    background-color: $primary;
}
