body {
    font-family: 'UTM Aptima', sans-serif;
}

.fadein {
    animation: fadein .5s;
}

.fadeout {
    animation: fadeout .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

#fp-nav {
    z-index: 98;
    ul {
        li {
            &:hover {
                a, a.active {
                    span {
                        width: 12px;
                        height: 12px;
                        margin: -2px 0 0 -2px;
                        background: $yellow;
                    }
                }
            }
            a {
                span {
                    background: transparent;
                    height: 12px;
                    width: 12px;
                    border: 1px solid $yellow;
                }
                &.active {
                    span {
                        background: $yellow;
                        margin: -2px 0 0 -2px;
                    }
                }
            }
        }
    }
}

.fa-container {
    max-width: 1380px;
}
